@model FourQuarterMVC.Models.FourQuaterClass

@{
    Layout = null;
}
<!DOCTYPE html>
<!--
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
-->
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Four Quarter admin panel</title>

<link type="text/css" rel="stylesheet" href="~/css/demo.css">
<link type="text/css" rel="stylesheet" href="~/css/jquery-te-1.4.0.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/js/jquery-te-1.4.0.min.js" charset="utf-8"></script>
<!--    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" /> -->
    
     
     <!-- <script src="~/Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>   -->
    
    

    
@*    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>*@
    <link href="~/ckeditor/samples/sample.css" rel="stylesheet">
    <link href="~/css/visiter.css" type="text/css" rel="stylesheet">
    <style>
         #result
{
	font-size: 24px;
	color:maroon;
}
        #editable
        {
            padding: 10px;
            float: left;
        }
        th {
    background-color: green;
    color: white;
}
         TextArea
        {
            width: 1000px;
            height: 100px;
        }
    </style>

</head>
<body>
    <h2>Welcome to the FilmPrint Section</h2>
    @using (Html.BeginForm("FilePrintImages", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    { 
        <div class="Menuu">
        <ul>
            <li><a href="@Href("~/Admin/Home")">Home</a></li>
            <li><a href="~/Admin/InsertDesignThink">Design & Think</a></li>
            <li><a href="~/Admin/FilePrintImages">Film & Images</a></li>
            <li><a href="~/Admin/DDDigital">Digital</a></li>
            <li><a href="~/Admin/SpeakMaster">Speak & Contact</a></li>
            <li><a href="~/Admin/CleintMaster">Client Master</a></li>
            <li><a href="~/Admin/ThinkerBody">Thinker Body</a></li>
            <li><a href="~/Admin/SubscriberMailZone">MailZone</a></li>
        </ul>
    </div>
        <br /><br />
        <hr color="red" /><h2>Master Panel</h2><hr color="red"/>
        <label id="result">@ViewBag.Message</label>
        <table width="100%" border="0">
            <tr>
                <td width="200">Film Print Title</td>
                <td>@Html.TextBoxFor(M => M.objMaster.FilmPrintTitle, new { @maxlength="150", @style="width:600px;" })
                </td>
            </tr>
            <tr>
                <td width="200">Film Print Heading</td>
                <td>@Html.TextBoxFor(M => M.objMaster.FilmPrintHeading, new { @maxlength="150", @style="width:600px;" })
                </td>
            </tr>
            <tr>
                <td width="200">Film Print Desc</td>
                <td>@Html.TextBoxFor(M => M.objMaster.FilmPrintDesc, new { @maxlength="150", @style="width:600px;" })
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">Write Below To Create Film Print Bottom First Description Body</td>
            </tr>
            <tr>
                <td colspan="2" align="center">@Html.TextAreaFor(M => M.objMaster.FilmPrintBottomDesc1, new { @maxlength="1500"})
                    <br />
                    <img src="~/img/Message1.png" border="0" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">Write Below To Create Film Print Bottom Second Description Body</td>
            </tr>
            <tr>
                <td colspan="2" align="center">@Html.TextAreaFor(M => M.objMaster.FilmPrintBottomDesc2, new { @maxlength="1500"})
                    <br />
                    <img src="~/img/Message1.png" border="0" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">Write Below To Create Film Print Bottom Third Description Body</td>
            </tr>
            <tr>
                <td colspan="2" align="center">@Html.TextAreaFor(M => M.objMaster.FilmPrintBottomDesc3, new { @maxlength="1500"})
                    <br />
                    <img src="~/img/Message1.png" border="0" />
                </td>
            </tr>
        </table>
        <hr color="red" /><h2>Print Images Panel</h2><hr color="red"/>
        <table width="100%" border="0">
            <tr>
                <td width="200">Project Title</td>
                <td>@Html.TextBoxFor(M => M.objPrint.ProjectTitle, new { @maxlength="150", @style="width:600px;" })</td>
            </tr>
            <tr>
                <td width="200">Project Date</td>
                <td>@Html.TextBoxFor(M => M.objPrint.ProjectDate)</td>
            </tr>
            <tr>
                <td width="200">Project Description</td>
                <td>@Html.TextBoxFor(M => M.objPrint.ProjectDesc, new { @maxlength="150", @style="width:600px;" })</td>
            </tr>
            <tr>
                <td width="200">Thumbnail Image</td>
                <td><input id="upload1" name="upload1" type="file" /></td>
            </tr>
            <tr>
                <td width="200">Orignal Image/Video</td>
                <td><input id="upload1" name="upload1" type="file" /> OR Enter Youtube Link-> @Html.TextBoxFor(M=>M.objPrint.OrignalImagePath, new { @maxlength="1500", @style="width:600px;" })</td>
            </tr>
            <tr>
                <td colspan="2"><input id="Submit1" type="submit" value="Save In Print&File Section" /></td>
            </tr>
        </table>
        <br />
        <div id="divPrintImage">
        <table width="100%" id="tblData" border="1">
            <tr>
                <th>Project Title</th>
                <th>Project Date</th>
                <th>Project Description</th>
                <th>Thumbnail Image</th>
                <th>Orignal Image</th>
                <th>Action</th>
            </tr>
            @foreach (FourQuarterMVC.Models.FilePrintImages obj in Model.objListPrintM)
            { 
                <tr>
                    <td>
                        <input type="hidden" value='@obj.Id' data-Protitle='@obj.ProjectTitle' data-ProDate='@obj.ProjectDate' data-ProDesc='@obj.ProjectDesc' data-ThumIMG='@obj.ThumbnailImagePath' data-OrigIMG='@obj.OrignalImagePath'/>
                       <a href="#" onclick="FillEdit(@obj.Id); return false;"> @obj.ProjectTitle</a>
                    </td>
                    <td>
                       <span>@obj.ProjectDate</span>
                    </td>
                    <td>
                       <span>@obj.ProjectDesc</span>
                    </td>
                    <td>
                       <span><img src="@Url.Content("~/Uploads/"+obj.ThumbnailImagePath)" alt="" width="100" heigth="100" /></span>
                    </td>
                    <td>
                       <span><img src="@Url.Content("~/Uploads/"+obj.OrignalImagePath)" alt="" width="100" heigth="100" /></span>
                    </td>
                    <td>
                       <span><a href="#" onclick="Deleterecord(@obj.Id); return false;">Delete</a></span>
                    </td>
                </tr>
            }
        </table>
            </div>@*  
        <table width="100%" id="HometblData">
            @foreach (FourQuarterMVC.Models.HomePage obj in Model.objListMasterM)
            {
                <tr>
                    <td>
                        <input type="hidden" value='@obj.Id' data-FilmPrintTitle='@obj.FilmPrintTitle' data-FilmPrintHeading='@obj.FilmPrintHeading' data-FilmPrintDesc='@obj.FilmPrintDesc' data-FilmPrintBottomDesc1='@obj.FilmPrintBottomDesc1' data-FilmPrintBottomDesc2='@obj.FilmPrintBottomDesc2' data-FilmPrintBottomDesc3='@obj.FilmPrintBottomDesc3'/>
                       <a href="#" onclick="FillEdit(@obj.Id); return false;"> @obj.FilmPrintTitle</a>
                    </td>
                </tr>
            }
        </table>  
        *@<input type="hidden" id="hdd" name="hdd" value="0" />
    }

    @*<script type="text/javascript">

        $(window).load(
       function () {
           alert("Hello load");
           var $ele = $("#HometblData tr td input[value]");
           if ($ele != null) {
               $('#objMaster_FilmPrintTitle').val($ele.attr("data-FilmPrintTitle"));
               $('#objMaster_FilmPrintHeading').val($ele.attr("data-FilmPrintHeading"));
               $('#objMaster_FilmPrintDesc').val($ele.attr("data-FilmPrintDesc"));
               $('#objMaster_FilmPrintBottomDesc1').val($ele.attr("data-FilmPrintBottomDesc1"));
               $('#objMaster_FilmPrintBottomDesc2').val($ele.attr("data-FilmPrintBottomDesc2"));
               $('#objMaster_FilmPrintBottomDesc3').val($ele.attr("data-FilmPrintBottomDesc3"));
           }
       }
   );
   </script>*@

    <script type="text/javascript">

        $('#objPrint_ProjectTitle').val('');
        $('#objPrint_ProjectDate').val('');
        $('#objPrint_ProjectDesc').val('');
        $('#objPrint_OrignalImagePath').val('');

        function FillEdit(obj) {
            $("#hdd").val(obj);
            var $ele = $("#tblData tr td input[value=" + obj + "]");
            if ($ele != null) {
                $('#objPrint_ProjectTitle').val($ele.attr("data-Protitle"));
                $('#objPrint_ProjectDate').val($ele.attr("data-ProDate"));
                $('#objPrint_ProjectDesc').val($ele.attr("data-ProDesc"));
            }

        }
    </script>
     <script type="text/javascript">
         function Deleterecord(obj) {
             var status = confirm('Are you sure to delete');
             if (status) {
                 $.ajax({
                     type: "post",
                     url: "/Admin/DeleterPrintImage",
                     data: { "id": obj },
                     success: (function (data) {

                         $("#divPrintImage").html(data);
                     }),
                     fail: (function (data) {
                     })
                 });
             }
         }
    </script>

    <script type="text/javascript">
        function SaveDesignThink() {
            alert("BEFOUR");
            var DDlval = $('#DDLValue').val();
            var SecTitle = $('#SectionTitle').val();
            $("#Content").html($("#SectionBody").val());
            var dataTemp = $("#SectionBody").val();
            alert(dataTemp);
            var temp = JSON.stringify(dataTemp);

            $.ajax({
                type: "post",
                url: "/Admin/InsertDesignThink",
                data: JSON.stringify({ "DDl": DDlval, "Tilte": SecTitle, "body": temp }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                success: (function (data) {
                    alert(data);
                }),
                fail: (function (data) {
                })
            });
        }
    </script>
</body>
</html>

